* {
  outline: none;
}

body {
}

.center {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.home {
  margin-top: 40px;
}

/*register screen*/

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 420px;
  margin-top: 20px;
}

.form-delete-area {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 250px;
  padding: 20px;
  width: 420px;
  margin-top: 60px;
}

.form-delete-area p {
  margin-top: 10px;
}

.form-delete-area button {
  float: right;

  background-color: #e7532e;
  border: none;
  color: white;
  margin-top: 60px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

/*search screen*/

.tb-search {
  display: table;
  width: 100%;
}

.td-search {
  display: table-cell;
  vertical-align: middle;
}

.input-search,
.btn-search {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-sizing: border-box;
  height: 180px;
  padding: 35px;
  width: 650px;
  background-color: #15172b;
  border-radius: 20px;
  box-shadow: 0 10px 40px #15172b, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

.input-search[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

.input-search[type="text"]::placeholder {
  color: #fff;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

.btn-search {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 43px;
  height: 43px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.btn-search span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.btn-search span:before,
.btn-search span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover .btn-search span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover .btn-search span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover .btn-search span:before,
#s-cover:hover .btn-search span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

.white {
  color: #fff;
}

/**/

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav li:hover {
  background-color: #ddd;
  color: black;
}

.topnav li a {
  text-decoration: none;
}
/*cards*/

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.cards a {
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;

  color: #15172b;
}

.btnEdition {
  display: flex;
  justify-content: space-between;
}
